/*.miTarjeta {
     margin: 2px; 
}*/

.miDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miCard {
    background-color: aqua;
}

.naranja {
    background-color: orange;
}

.espacio {
    margin-bottom: 10px;
}

#titulo,
#descripcion {
    border-radius: 5px;
    border: 1px solid red;
}

.btnAnyadir {
    background-color: orange;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
}

.miID{
    font-size: 0.9em;
    color: red;
}

body{
    background-image: url("imagenes/fondo.png")
}