/*.miTarjeta {
     margin: 2px; 
}*/

.miDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miCard {
    background-color: aqua;
}

.naranja {
    background-color: orange;
}

.espacio {
    margin-bottom: 10px;
}

#login_usu,
#password_usu,
#nombre_usu,
#apellido_usu,
#repassword_usu{
    border-radius: 5px;
    border: 1px solid Blue;
}

.btnsesion {
    background-color: orange;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
}
/* #registro {
    background-color: orange;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
} */

.miID{
    font-size: 0.9em;
    color: red;
}