.separador{
    margin-left: 15px;
}

 .miTarea{
display: flex;
justify-content: space-between;
border: 3px solid black;
padding:8px;
margin-bottom: 5px;
} 

.close-icon
{
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.miDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.naranja {
    background-color: orange;
}

.espacio {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.miResultado {
    /* margin-bottom: 10px;
    display: flex; */
    margin: auto;
  width: 50%;
  
  padding: 10px;
    
}

#titulo,
#descripcion {
    border-radius: 5px;
    border: 1px solid red;
}

.btnAnyadir {
    background-color: orange;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
}

.miID{
    font-size: 0.9em;
    color: red;
}




  /* .container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
  } */

/* .fondotarea{
    
    background-color: aquamarine;
} */

 